input {
	/*font-size: 1.5em;*/
}

.globalTitle {
	margin: auto;
	width: 50%;
	text-align: center;
}

.centerContainer {
	margin: auto;
	width: 85%;
	margin-top: 1cm;
	margin-bottom: 1cm;
	text-align: center
}

.centerResultTableContainer {
	margin: auto;
	width: 80%;
}