.dashboardTable {
	width: 10cm;
	margin: 1cm;
}

.dashboardTable td {
	text-align: center;
	border-bottom: 1px solid gray;
}

tr.queuedAttendee {
	color: #AFAFAF;
}

#attendeeEditorContainer {
	display: none;
	margin-left: 1cm;
	width: 15cm;
	padding-left: 2cm;
	border-bottom: 1px solid grey
}