#imgSearchLoader {
	margin: auto;
	display: block;
}

#searchBox {
	font-size: 2.5em
}

#searchResultsTable tbody td {
	padding: 10px;
	border-bottom: 1px solid gray
}

#attendeeEditorTable {
	font-size: 1.5em;
}

.AttendeeSearchStatus {
	font-size: 1.2em;
	width: 100%;
	text-align: center;
}