#imgSearchLoader {
	margin: auto;
	display: block;
}

#searchBox {
	font-size: 2.5em
}

#searchResultsTable tbody td {
	padding: 10px;
	border-bottom: 1px solid gray;
	text-align: center;
}

.attendeeEditorTable {
	width: 100%;
}

.AttendeeSearchStatus {
	font-size: 1.2em;
	width: 100%;
	text-align: center;
}

.attendeeEditorColumn {
	width: 40%;
	float: left;
	height: 100%;
}

tr.registered {
	color: #80D080;
}