#imgSearchLoader {
	margin: auto;
	display: block;
}

#searchBox {
	font-size: 2.5em
}

#searchResultsTable tbody td {
	padding: 10px;
	border-bottom: 1px solid gray;
	text-align: center;
}

.attendeeEditorTable {
	width: 100%;
}

.attendeeSearchStatus {
	font-size: 1.2em;
	width: 100%;
	text-align: center;
}



tr.registered {
	color: #80D080;
}

.vip {
	color: red;
}