{% extends "base.html" %}
{% block title %}
	{{ super() }}
	Учасник
{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/index.css">
	<link rel="stylesheet" href="/static/attendee.css">
	<script>
		{% if attendee_id %}
			window.attendeeId = '{{attendee_id}}'
			window.creatingAttendee = false
		{% else %}
			window.creatingAttendee = true
		{% endif %}
	</script>
	<script src="/static/sizzle.min.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="/static/attendee.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}

{% macro event_control(event) -%}
	<img src="/static/ajax-loader.gif" name="imgLoader" eventId="{{event._id}}" style="display: none">

	<span class="EventStatus" name="spBooked" eventId="{{event._id}}" style="display: none">
		Заброньовано
	</span>
	<span class="EventStatus" name="spPaid" eventId="{{event._id}}" style="display: none">
		Оплачено
	</span>

	<input type="button" name="btnBook" value="Забронювати" eventId="{{event._id}}" style="display: none">
	<input type="button" name="btnCancel" value="Відмінити" eventId="{{event._id}}" style="display: none">
{%- endmacro %}

{% macro event_places(event) -%}
	<span class="EventStatus" name="spFreePlaces" eventId="{{event._id}}" style="display: none"></span>
	<span class="EventStatus" name="spNoFreePlaces" eventId="{{event._id}}" style="display: none">
		Вільних місць немає
	</span>
	<span class="eventStatus" name="spNoLimit" eventId="{{event._id}}" style="display:none">Необмежено</span>
{%- endmacro %}

{% macro event_price(event) -%}
	{% if event.price %}
		{{ event.price }}
	{% else %}
		Безкоштовно
	{% endif %}
{% endmacro %}


{% block content %}
	<div class="attendeeEditorBlock" id="dvInfo">
		<table class="attendeeEditorTable" style="width: 13cm; float: left">
			<tbody>
				{% for field in fields %}
					<tr>
						<td>{{field.caption}}</td>
						<td>
							<input type="{{field.type}}" id="{{field.input_id}}"
							>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if reg_data %}
			<div>
				<h2>Реєстратор:</h2>
				{{ reg_data.registrator.lastname }} {{ reg_data.registrator.firstname}}
				<h2>Час реєстрації:</h2>
				{{ reg_data.registered_on }}
			</div>
		{% endif %}
		<div style="clear:both"></div>
		<input type="button" value="Зберегти" id="btnSaveInfo" disabled>
		<img src="/static/ajax-loader.gif" id="imgSaveLoader" style="display: none">
	</div>
	<div style="clear:both"></div>
	<div class="attendeeEditorBlock" id="dvEvents">
		<table style="width: 100%">
			<colgroup>
				<col></col>
				<col style="width: 3cm"></col>
			</colgroup>
			<tbody>
				<tr>
					<td>
						<table class="attendeeEditorTable" style="width: 100%">
							<thead>
								<tr>
									<th width="40%">Назва</th>
									<th width="20%">Вільних місць</th>
									<th width="25%">Дії</th>
								</tr>
							</thead>
							<tbody id="tbEvents">
								{% for event in events %}
									<tr>
										<td>
											<label for="{{event._id}}">{{event.caption}}</label>
										</td>
										<td style="text-align: center">
											{{ event_places(event) }}
										</td>
										<td style="text-align: center">
											{{ event_control(event) }}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</td>
					<td style="text-align: right">
						<h2>
							<span id="spTotalPrice"></span>грн
						</h2>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="button" id="btnFinishRegistration" value="Завершити реєстрацію">
	</div>
	<div class="modalPlaceholder" id="dvModalPlaceholder">
	</div>
	<div id="dvPostRegistrationMessage">
		<div class="messageContainer">
			Прийміть в учасника <span id="spPrice"></span> грн і видайте йому:
			<ul id="itemsList">

			</ul>
		</div>
		<div class="buttonsContainer">
			<input type="button" value="Відмінити" id="btnCancelRegistration" />
			<input type="button" id="btnRegister" value="Завершити" />
		</div>
	</div>
{% endblock %}