<div class="attendeeEditorBlock">
    <table class="attendeeEditorTable">
        <tbody>
            {% for field in fields %}
                <tr>
                    <td>{{field.caption}}</td>
                    <td>
                        <input type="{{field.type}}" id="{{field.input_id}}" 
                        {% if not user.is_admin %}
                            disabled
                        {% endif %}
                        >
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>