<!doctype html>
<html>
<head>
	<title>{% block title %}Система реєстрації учасників VI Конгресу анестезіологів - {% endblock %}</title>
	{% block head %}
		<link rel="stylesheet" href="/static/common.css">
	{% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
	   <input type="button" value="Вихід" onclick="window.location.href = '/logout'">
    {% endif %}
	{{user.firstname}} {{user.lastname}}
    {% if user.is_admin %}
    	<a href="/admin/events" class="customNavigationItem">Події</a>
        <a href="/admin/report" class="customNavigationItem">Звіт</a>
    {% endif %}
    <a href="/attendee_edit" class="customNavigationItem">Додати учасника</a>
    <a href="/" class="customNavigationItem">Головна</a>
    {% block customNavigation %}

    {% endblock %}
    <div class="globalTitle">
    	<h2>Система реєстрації учасників <br>
    		VI Конгресу анестезіологів</h2>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>