<!doctype html>
<html>
<head>
	<title>{% block title %}Система реєстрації учасників VI Конгресу анестезіологів - {% endblock %}</title>
	{% block head %}

	{% endblock %}
</head>
<body>
	<input type="button" value="Вихід" onclick="window.location.href = '/logout'">
	{{user.firstname}} {{user.lastname}}
    {% if user.is_admin %}
    	<input type="button" style="float: right" value="Адміністрування"
    		onclick="window.location.href='/dashboard'">
    {% endif %}
    <div class="globalTitle">
    	<h2>Система реєстрації учасників <br>
    		VI Конгресу анестезіологів</h2>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>