{% extends "base.html" %}
{% block title %}
	{{ super () }}
	Адміністрування
{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/dashboard.css">
	<link rel="stylesheet" href="/static/attendee_editor.css">
	<script src="/static/dashboard.js" type="text/javascript" charset="utf-8" async defer></script>	
	<script src="/static/attendee_editor.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}

{% block content %}	
	<div id="dvEvents" style="float: left;">
		<table class="dashboardTable">
			<caption><h3>Події</h3></caption>
			<thead>
				<tr>
					<th>Назва</th>
					<th>Вартість</th>
					<th>Учасники</th>
				</tr>
			</thead>
			<tbody>
				{% for event in events %}
					<tr>
						<td> {{ event.caption }} </td>
						<td>
							{% if event.price %}
								{{ event.price }} грн
							{% else %}
								Безкоштовно
							{% endif %}
						</td>
						<td>
							{% if event.attendee_count > 0 %}
								<a href="#" onclick="Page.showEventAttendees('{{event._id}}', '{{event.caption}}')">
							{% endif %}
							{% if event.limit %}
								{{ event.attendee_count }} / {{ event.limit }}
							{% else %}
								{{ event.attendee_count }}
							{% endif %}
							{% if event.attendee_count > 0 %}
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="dvEventAttendees" style="float: left; display: none">
		<input type="button" value="Сховати" id="btnEventAttendeesHide"/>
		<table class="dashboardTable">
			<caption>
					<h3>Учасники "<span id="spEventName"></span>"</h3>
				</caption>
			<thead>
				<tr>
					<th>Учасник</th>
					<th>Дії</th>
				</tr>
			</thead>
			<tbody id="eventAttendeesTbody">
			</tbody>
		</table>
	</div>
{% endblock %}