{% extends "base.html" %}
{% block title %}
    {{ super() }}
    Пошук
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/index.css">
    <script>
    {% if user.is_admin %}
        window.admin = true
    {% else %}
        window.admin = false
    {% endif %}
    </script>
    <script src="/static/search.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="/static/index.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}
{% block content %}
    <div id="searchListContainer">
        <div class="centerContainer">
            (введіть перші букви імені або прізвища)<br>
            <input type="search" id="searchBox"/>
            <img src="/static/ajax-loader.gif" alt="" id="imgSearchLoader" style="visibility: hidden;"></div>
        <div id="results" class="centerResultTableContainer">
            <table width="100%" id="searchResultsTable" style="visibility: hidden">
                <thead>
                    <tr>
                        <td colspan="3" style="border-bottom: 1px solid black">
                            <div id="dvFoundCount" class="AttendeeSearchStatus">Знайдено учасників: <span id="spFoundCount"></span></div>
                            <div id="dvNoneFound" class="AttendeeSearchStatus">Учасників не знайдено</div>
                        </td>
                    </tr>
                    <tr>
                        <th width="30%">Місто</th>
                        <th>Ім’я</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody id="searchResultsBody"></tbody>
            </table>
        </div>
    </div>
{% endblock %}