<!doctype html>
<html>
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/search.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="/static/index.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body onload="bodyLoaded();">
    <div id="searchListContainer">
        <div class="centerContainer">
            <input type="search" id="searchBox"/>
            <img src="/static/ajax-loader.gif" alt="" id="imgSearchLoader" style="visibility: hidden;"></div>
        <div id="results" class="centerResultTableContainer">
            <table width="100%" id="searchResultsTable" style="visibility: hidden">
                <thead>
                    <tr>
                        <td colspan="3" style="border-bottom: 1px solid black">
                            <div id="dvFoundCount" class="AttendeeSearchStatus">Знайдено учасників: <span id="spFoundCount"></span></div>
                            <div id="dvNoneFound" class="AttendeeSearchStatus">Учасників не знайдено</div>
                        </td>
                    </tr>
                    <tr>
                        <th width="30%">Місто</th>
                        <th>Ім’я</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody id="searchResultsBody"></tbody>
            </table>
        </div>
    </div>
    <div id="attendeeEditorContainer" style="display: none" class="centerContainer">
        <div style="width: 100%; text-align: left">
            <input type="button" id="btnBackToList" value="<<< Назад">
        </div>
        <table width="100%" id="attendeeEditorTable">
            <tbody>
                <tr>
                    <td>
                        Прізвище
                    </td>
                    <td><input type="text" id="txtLastname" disabled></td>
                </tr>
                <tr>
                    <td>Ім’я</td>
                    <td><input type="text" id="txtFirstname" disabled></td>
                </tr>
                <tr>
                    <td>По батькові</td>
                    <td><input type="text" id="txtMiddlename" disabled></td>
                </tr>
                <tr>
                    <td>Місто</td>
                    <td><input type="text" id="txtCity" disabled></td>
                </tr>
            </tbody>
        </table>
        <input type="button" id="btnRegisterAttendee" value="Зареєструвати"/>
    </div>
</body>
</html>