{% extends "base.html" %}
{% block title %}
	{{ super() }}
	Вхід
{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/login.css">
	<script src="/static/login.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}
{% block content %}
	<form action="/login" method="POST" accept-charset="utf-8" id="frmLogin">
		<div class="loginBlock">
			<table>
					<tbody>
						<tr>
							<td>Пароль:</td>
							<td>
								<input type="password" name="password" value="" id="txtPassword" tabstop="1" required="required">
							</td>
							<td>
								<input type="submit" value="Вхід" tabstop="2" id="btnLogin">
							</td>
							<td>
								{% with messages = get_flashed_messages() %}
									{% if messages %}
										{% for message in messages %}
											<div class="loginError">
												{{ message }}
											</div>
										{% endfor %}
									{% endif %}
								{% endwith %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	</form>
{% endblock %}