{% extends "base.html" %}
{% block title %}
    {{ super() }}
    Звіт
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/report.css">
    <script src="/static/report.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}

{% block content %}
    <form action="/admin/report/download">
        <h1>Звіт в .xlsx:</h1><input type="submit" value="Скачати">
    </form>
    <h2>Прибуло учасників: {{ registered_attendee_count }} </h2>
    <h2>Всього учасників: {{ total_attendee_count }}</h2>
    <h2>Розбиття по реєстраторах:</h2>
    <table class="dashboardTable" style="width: 80%">
        <thead>
            <tr>
                <th>Реєстратор</th>
                <th>Прийняв учасників</th>
                <th>Прийняв грошей</th>
            </tr>
        </thead>
        <tbody>
            {% for r in registrators %}
                <tr>
                    <td>{{r.lastname}} {{r.firstname}}</td>
                    <td>
                        {% if r.attendee_count %}
                            {{r.attendee_count}}
                        {% endif %}
                    </td>
                    <td>
                        {% if r.cash %}
                            {{ r.cash }}грн
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}